body{
	background: -moz-linear-gradient(top,  rgba(50,37,196,1) 0%, rgba(32,124,202,0.9) 70%, rgba(125,185,232,0.85) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(50,37,196,1) 0%,rgba(32,124,202,0.9) 70%,rgba(125,185,232,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(50,37,196,1) 0%,rgba(32,124,202,0.9) 70%,rgba(125,185,232,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3225c4', endColorstr='#d97db9e8',GradientType=0 ); /* IE6-9 */
}
#Contenido{
	width: 960px;
	height: 650px;
	margin: 0 auto;
	text-align: center;
}
@font-face{
	font-family: "Digital";
	src:url(fonts/8bitOperatorPlus-Bold.ttf), url(fonts/8bitOperatorPlus-Bold.otf), url(fonts/8bitOperatorPlus-Bold.eot);
}
h1{
	font-family: "Digital";
	font-size: 40px;
	color: #0C0C0F;
	text-shadow: 0px 0px 30px rgba(12, 12, 15, 0.5);
}
h2{
	font-family: "Digital";
	font-size: 25px;
	color: #AAAAAA;
}
.PersonalizadoTex{
	font-family: "Time New Roman";
	font-size: 20px;
	color: #F7FDFB;
	text-align: justify; /*Aliniera el texto*/
}
nav ul li{
	display: inline-block; /*Mostrar elementos de navegación de manera horizontal*/
	margin-right: 50px; /*Separar cada elemento 50 px*/
	cursor: pointer; 
	font-weight: bolder;
	font-family: "Digital";
	font-size: 18px;
	color: #F7FDFB;
	padding: 5px;
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
}
nav ul li:hover{
	background-color: #AAAAAA;
	color: #FFFFFF;
	border-radius: 5px;
}
nav ul li a{
	text-decoration: none;
}
#Texto{
	width: 800px;
	height: 450px;
	background-color: #0C0C0F;
	margin: 0 auto;
	border-radius: 20px; /*Bordear el cuadrado de texto*/
	padding: 20px; /*Espacio entre el borde y el contenido*/
	box-shadow: 0px 0px 20px rgba(12,12,15,0.5); /*Añade efectos de sombra alrededor del cuadro de texto*/
}
.ImgCentral{
	width: 450px;
	height: 230px;
	padding: 0px;
	margin-top: 20px;
}
.Descarga{
	float: left;
	width: 175px;
	height: 175px;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}
.Profesor{
	float: left;
	width: 350px;
	height: 90px;
	margin: 0px 12px 10px 12px;
	padding: 10px;
	border-radius: 5px;
	list-style: none;
}
ul li{
	font-family: "Time New Roman";
	font-size: 18px;
	color: #F7FDFB;
	text-align: justify;
	margin-bottom: 3px;
}
.Azul{
	border-color: #47BDDA;
	border-width: 3px;
	border-style: solid;
}
.Rosa{
	border-color: #EEB9FE;
	border-width: 3px;
	border-style: solid;
}
.Morado{
	border-color: #9F8AF1;
	border-width: 3px;
	border-style: solid;
}
.Verde{
	border-color: #2FDFAE;
	border-width: 3px;
	border-style: solid;
}
.Amarillo{
	border-color: #FFF783;
	border-width: 3px;
	border-style: solid;
}
.Rojo{
	border-color: #FDAABB;
	border-width: 3px;
	border-style: solid;
}
a{
	color: #F7FDFB;
	font-weight: bolder; /*Definir letra en negritas*/
}
a:hover{
	background-color: #AAAAAA;
	border-radius: 5px;
}


