body {
  background: -moz-linear-gradient(top,  rgba(50,37,196,1) 0%, rgba(32,124,202,0.9) 70%, rgba(125,185,232,0.85) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(50,37,196,1) 0%,rgba(32,124,202,0.9) 70%,rgba(125,185,232,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(50,37,196,1) 0%,rgba(32,124,202,0.9) 70%,rgba(125,185,232,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3225c4', endColorstr='#d97db9e8',GradientType=0 ); /* IE6-9 */
}

#contenido {
  width: 960px; /*Ancho del div del contenido*/
  height: 650px; /*Alto del div del contenido*/
  margin: 0 auto; /*Centra horizontalmente el bloque*/
  text-align: center; /*Alinea el texto de manera centrada*/
}

@font-face {
  font-family: "Digital"; /*Carga la fuente personalizada con diferentes formatos*/
  src:url(fonts/8bitOperatorPlus-Bold.ttf), url(fonts/8bitOperatorPlus-Bold.otf), url(fonts/8bitOperatorPlus-Bold.eot);
}

h1 {
  font-family: "Digital"; /*Usa la fuente personalizada para el título*/
  font-size: 40px; /*Tamaño de 40px*/
  color: #0C0C0F; /*Color de la fuente*/
  text-shadow: 0px 0px 30px rgba(12, 12, 15, 0.5); /*Agrega un sombreado al título*/
}

h2 {
  font-family: "Digital"; /*Usa la fuente personalizada para los subtítulos*/
  font-size: 25px; /*Tamaño de 25px*/
  color: #AAAAAA; /*Color de la fuente*/
}

.personalizadoTex {
  font-family: "Time New Roman"; /*Usa la fuente Times New Roman para el texto*/
  font-size: 20px; /*Tamaño de 20px*/
  color: #F7FDFB; /*Color de la fuente*/
  text-align: justify; /*Alinea el texto de manera justificada*/
}

nav ul li {
  display: inline-block; /*Muestra los elementos de navegación de manera horizontal*/
  margin-right: 50px; /*Separa cada elemento 50px*/
  padding: 5px; /*Espacio entre el borde y el contenido*/
  cursor: pointer; /*Cambia el cursor a una mano*/
  font-family: "Digital"; /*Usa la fuente personalizada para las opciones de navegación*/
  font-size: 18px; /*Tamaño de 18px*/
  font-weight: bolder; /*Define la letra en negritas*/
  color: #F7FDFB;  /*Color de la fuente*/
  transition: all 0.5s linear; /*Animación de los elementos de navegación*/
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

nav ul li:hover {
  border-radius: 5px; /*Crea bordes a los elementos de navegación*/
  background-color: #AAAAAA; /*Rellena de gris al pasar el cursor por un elemento de navegación*/
  color: #FFFFFF; /*Color de los elementos de navegación*/
}

nav ul li a {
  text-decoration: none; /*Quita el subrayado de los elementos de navegación*/
}

#texto {
  width: 800px; /*Ancho del div del contenido principal*/
  height: 450px; /*Alto del div del contenido principal*/
  margin: 0 auto; /*Centra horizontalmente el bloque*/
  border-radius: 20px; /*Bordea el cuadrado de texto*/
  box-shadow: 0px 0px 20px rgba(12,12,15,0.5); /*Añade efectos de sombra alrededor del cuadro de texto*/
  padding: 20px; /*Espacio entre el borde y el contenido*/
  background-color: #0C0C0F; /*Color de fondo del div del contenido*/
}

.imgCentral {
  width: 450px; /*Ancho de la imagen central de Inicio*/
  height: 230px; /*Alto de la imagen central de Inicio*/
  margin-top: 20px; /*Espacio entre el margen superior y la imagen*/
  padding: 0px; /*Espacio entre el borde y el contenido*/
}

.descarga {
  float: left; /*Alinea las imágenes de descarga a la izquierda*/
  width: 175px; /*Ancho de las imágenes de descarga*/
  height: 175px; /*Alto de las imágenes de descarga*/
  margin: 5px; /*Espacio que dejan los márgenes de la imagen*/
  padding: 5px; /*Espacio entre el borde y el contenido*/
  cursor: pointer; /*Cambia el cursor a una mano*/
}

.profesor {
  float: left; /*Alinea los recuadros de contacto a la izquierda*/
  width: 350px; /*Ancho de los cuadros de contacto*/
  height: 90px; /*Alto de los cuadros de contacto*/
  border-radius: 5px; /*Crea bordes a los cuadros de contacto*/
  list-style: none; /*Quita las viñetas de lista*/
  margin: 0px 12px 10px 12px; /*Modifica los márgenes -> arriba, der, abajo, izq*/
  padding: 10px; /*Espacio entre el borde y el contenido*/
}

ul li {
  text-align: justify; /*Alinea los datos de manera justificada*/
  margin-bottom: 3px; /*Espacio entre el margen inferior de cada dato*/
  font-family: "Time New Roman"; /*Fuente para los datos de contacto*/
  font-size: 18px; /*Tamaño de 18px*/
  color: #F7FDFB; /*Color de la fuente*/
}

.azul {
  border-color: #47BDDA; /*Color del borde de contacto*/
  border-width: 3px; /*Ancho del borde de contacto*/
  border-style: solid; /*Estilo de línea sólido del borde de contacto*/
}

.rosa {
  border-color: #EEB9FE;
  border-width: 3px;
  border-style: solid;
}

.morado {
  border-color: #9F8AF1;
  border-width: 3px;
  border-style: solid;
}

.verde {
  border-color: #2FDFAE;
  border-width: 3px;
  border-style: solid;
}

.amarillo {
  border-color: #FFF783;
  border-width: 3px;
  border-style: solid;
}

.rojo {
  border-color: #FDAABB;
  border-width: 3px;
  border-style: solid;
}

a {
  font-weight: bolder; /*Define la letra en negritas*/
  color: #F7FDFB; /*Color de los enlaces*/
}

a:hover {
  border-radius: 5px; /*Crea bordes a los enlaces*/
  background-color: #AAAAAA; /*Color de fondo de los links al pasar el cursor*/
}

